html, body { height: 100%;}

#root { 
  height: 100%;
  display: flex;
  flex-direction: column;
}

#chart {
  height: calc(100vh - 50px);
}

#VictoryContainer {
  width: 70%;
  height: auto;
  z-index: 10000;
}

footer {
height: 50px;
background-color: #dddee1;
position: fixed;
bottom: 0;
width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
